# encoding: utf-8
<footer id="footer">

  <div class="container">
    <div class="row">
      <div class="footerbottom">
        <div class="col-md-3 col-sm-6">
          <div class="footerwidget">
            <h4>
              Đơn vị liên kết
            </h4>
            <div class="menu-course">
              <ul class="menu">
                <li><a href="#">
                  List of Technology
                </a>
                </li>
                <li><a href="#">
                  List of Business
                </a>
                </li>
                <li><a href="#">
                  List of Photography
                </a>
                </li>
                <li><a href="#">
                  List of Language
                </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="footerwidget">
            <h4>LIÊN HỆ</h4>
            <p>Trường Trung Cấp Nghề Thủ Đức</p>
            <div class="contact-info">
              <i class="fa fa-map-marker"></i> Số 17, Đường 8, Phường Linh Chiểu, Quận Thủ Đức, TP.HCM<br>
              <i class="fa fa-phone"></i> (08) 36029585 - Fax: (08) 36029585 <br>
              <i class="fa fa-envelope-o"></i> tcnthuduc@gmail.com
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="footerwidget">
            <h4>BẢN ĐỒ</h4>
            <p>Trường Trung Cấp Nghề Thủ Đức</p>
            <div class="contact-info">
              <i class="fa fa-map-marker"></i> Số 17, Đường 8, Phường Linh Chiểu, Quận Thủ Đức, TP.HCM<br>
              <i class="fa fa-phone"></i> (08) 36029585 - Fax: (08) 36029585 <br>
              <i class="fa fa-envelope-o"></i> tcnthuduc@gmail.com
            </div>
          </div><!-- end widget -->
        </div>
      </div>
    </div>
    <div class="social text-center">
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-flickr"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
    </div>

    <div class="clear"></div>
    <!--CLEAR FLOATS-->
  </div>
  <div class="footer2">
    <div class="container">
      <div class="row">

        <div class="col-md-6 panel">
          <div class="panel-body">
            <p class="simplenav">
              <a href="index.html">Trang Chủ</a> |
              <a href="about.html">Giới Thiệu</a> |
              <a href="courses.html">Khoá Học</a> |
              <a href="price.html">Thư Viện</a> |
              <a href="videos.html">Hoạt Động</a> |
              <a href="contact.html">Liên Hệ</a>
            </p>
          </div>
        </div>

        <div class="col-md-6 panel">
          <div class="panel-body">
            <p class="text-right">
              Copyright &copy; 2014. <a href="http://vnits.com.vn/" rel="develop">Website được phát triển và vận hành bới VNITS</a>
            </p>
          </div>
        </div>

      </div>
      <!-- /row of panels -->
    </div>
  </div>
</footer>