# encoding: utf-8



<section class="news-box top-margin">

  <div class="container">
    <h2><span>HOẠT ĐỘNG</span></h2>

    <div class="slider" >
    <div class="pre-next-slide-hoat-dong">
    <a href="#" class="sa-left"><i class="fa fa-chevron-left fa-2x"></i></a>  <a href="#" class="sa-right"><i class="fa fa-chevron-right fa-2x"></i></a>
    </div>

      <div class="clear-both" ></div>
      <ul class="list-unstyled video-list-thumbs row" >

        <li class="col-lg-4 col-md-4 col-sm-12" >

          <a >

            <div class="video-container" >
              <object type="application/x-shockwave-flash" data="http://www.youtube.com/v/VhtIydTmOVU" >

                <param name="movie" value="http://www.youtube.com/v/VhtIydTmOVU" />


              </object>

            </div>
            <h5>Trung cấp nghề thủ đức</h5>
          </a>
        </li>
        <li class="col-lg-4 col-md-4 col-sm-12">
          <a>


            <div class="video-container">
              <object type="application/x-shockwave-flash" data="http://www.youtube.com/v/VhtIydTmOVU" >

                <param name="movie" value="http://www.youtube.com/v/VhtIydTmOVU" />


              </object>
            </div>
            <h5>Họp Phụ Huynh Đầu Năm học 2014</h5>
          </a>
        </li>
        <li class="col-lg-4 col-md-4 col-sm-12">
          <a>


            <div class="video-container">
              <object type="application/x-shockwave-flash" data="http://www.youtube.com/v/VhtIydTmOVU" >

                <param name="movie" value="http://www.youtube.com/v/VhtIydTmOVU" />


              </object>
            </div>
            <h5>Văn nghệ chào mừng 20-11</h5>
          </a>
        </li>

      </ul>


      </div>
  </div>
  </div>
</section>
<%= javascript_include_tag "jquery.lbslider" %>
<script>
    jQuery('.slider').lbSlider({
        leftBtn: '.sa-left',
        rightBtn: '.sa-right',
        visible: 3,
        autoPlay: false,
        autoPlayDelay: 5
    });
</script>