# encoding: utf-8
<section class="news-box top-margin">
  <div class="container">
    <h2><span>HOẠT ĐỘNG</span></h2>
    <div class="row">
      <article class="col-sm-4 isotopeItem webdesign">
        <div class="portfolio-item">
          <img src="<%= image_url 'portfolio/img1.jpg' %>" alt="" />
          <div class="portfolio-desc align-center">
            <div class="folio-info">
              <a href="assets/images/portfolio/img1.jpg" class="fancybox">
                <h5>Project Title</h5>
                <i class="fa fa-link fa-2x"></i></a>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
      </article>
      <article class="col-sm-4 isotopeItem webdesign">
        <div class="portfolio-item">
          <img src="<%= image_url 'portfolio/img1.jpg' %>" alt="" />
          <div class="portfolio-desc align-center">
            <div class="folio-info">
              <a href="assets/images/portfolio/img1.jpg" class="fancybox">
                <h5>Project Title</h5>
                <i class="fa fa-link fa-2x"></i></a>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
      </article>
      <article class="col-sm-4 isotopeItem webdesign">
        <div class="portfolio-item">
          <img src="<%= image_url 'portfolio/img1.jpg' %>" alt="" />
          <div class="portfolio-desc align-center">
            <div class="folio-info">
              <a href="assets/images/portfolio/img1.jpg" class="fancybox">
                <h5>Project Title</h5>
                <i class="fa fa-link fa-2x"></i></a>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
      </article>

    </div>
  </div>
  </div>
</section>