# encoding: utf-8



<section class="news-box top-margin">

  <div class="container">
    <h2><span>HOẠT ĐỘNG</span></h2>

    <div class="slider" >
      <div class="pre-next-slide-hoat-dong">
        <a href="#" class="sa-left"><i class="fa fa-chevron-left fa-2x"></i></a>  <a href="#" class="sa-right"><i class="fa fa-chevron-right fa-2x"></i></a>
      </div>

      <div class="clear-both" ></div>



      <ul class="list-unstyled video-list-thumbs row" >
        <% all_video.each do |v| %>
            <li class="col-lg-4 col-md-4 col-sm-12" >

              <a >

                <div class="video-container" >
                  <object type="application/x-shockwave-flash" data="<%=v.link %>" >

                    <param name="movie" value="<%=v.link %>" />
                    <param name="allowFullScreen" value="true">

                  </object>

                </div>
                <h5><%= v.caption %></h5>
              </a>
            </li>
        <% end %>
      </ul>


    </div>
  </div>
</section>

