# encoding: utf-8

<section class="container" style="margin-top: 60px;">
  <div class="row">
    <div class="col-md-8 box- box-radius box-shadow" style="width: 64%!important;"><div class="title-box clearfix "><h2 class="title-box_primary">MỤC TIÊU PHÁT TRIỂN</h2></div>
      <p><span>- Dạy nghề từ hướng cung sang hướng cầu của thị trường lao động, bằng cách phát triển dạy nghề gắn chặt với yêu cầu chuyển dịch cơ cấu kinh tế, cơ cấu lao động và định hướng phát triển của Quận và Thành phố.</span></p>

      <p>- Tiếp tục mở rộng ngành nghề, tăng số lượng, chất lượng và hiệu quả đào tạo theo yêu cầu của xã hội và doanh nghiệp ở cả các cấp trình độ đào tạo của trường: Trung cấp, sơ cấp và thường xuyên đáp ứng nhu cầu đa dạng và nâng cao khả năng phục vụ cộng đồng, góp phần đắc lực vào công cuộc Xóa đói giảm nghèo một cách bền vững, trong đó tập trung phát triển những nghề mới có nhu cầu lớn đáp ứng yêu cầu phát triển của Quận, Thành phố đồng thời có tính đến yêu cầu khu vực lân cận.</p>
      <p>- Liên kết hợp tác với các trường, cơ sở dạy nghề, các doanh nghiệp trong và ngoài nước để chuyển giao công nghệ, phương pháp giảng dạy, chương trình đào tạo...</p>
      <p>- Hợp tác nghiên cứu khoa học về dạy nghề, nghiên cứu ứng dụng các thành tựu khao học và công nghệ dạy nghề tiên tiến để nâng cao chất lượng dạy nghề.</p>
      <a href="#" title="read more" class="btn-inline " target="_self">read more</a> </div>


    <div class="col-md-4 box- box-radius box-shadow"style="margin-left: 2% !important;"><div class="title-box clearfix "><h2 class="title-box_primary">Các nghề đào tạo </h2></div>
      <div class="list styled custom-list">
        <ul>
          <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Thiết kế đồ họa</a></li>
          <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Lắp ráp cài đặt máy tính</a></li>
          <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Kế toán doanh nghiệp</a></li>
          <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">Quản trị doanh nghiệp</a></li>
          <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci." href="#">Điện công nghiệp</a></li>
          <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Điện tử công nghiệp</a></li>
          <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Cắt gọt kim </a></li>
          <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Kỹ thuật máy lạnh và điều hòa không khí</a></li>
          <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Kỹ thuật máy lạnh và điều hòa không khí</a></li>


        </ul>
      </div>
    </div>
  </div>
</section>
