# encoding: utf-8

<section class="container">
  <div class="row">
    <div class="col-md-t box- box-radius1 box-shadow">

      <div class="title-box clearfix ">

        <h2 class="title-box_primary" style="margin-top: 0px;">MỤC TIÊU PHÁT TRIỂN</h2></div>
      <div style="padding: 9px;">

        <% cauhinh_trangchu.each do |c| %>
           <%= raw(c.muctieu) %>
        <% end %>

       </div>
</div>

    <div class="col-md-4 box- box-radius1 box-shadow">
      <div class="title-box clearfix ">
      <h2 class="title-box_primary" style="margin-top: 0px;">Các nghề đào tạo </h2></div>
      <div style="padding: 9px;">
      <div class="list styled custom-list">
        <ul>
          <% cauhinh_trangchu.each do |c| %>
              <%= raw(c.cacnghedt) %>
          <% end %>

        </ul>
      </div>
    </div>
    </div>
  </div>
</section>
