# encoding: utf-8
<script>
    jQuery(function(){

        jQuery('#camera_wrap').camera({
            fx: 'random',
            transPeriod: 500,
            time: 2000,
            height: '400',
            loader: 'false',
            pagination: true,
            thumbnails: true,
            hover: true,
            playPause: true,
            navigation: true,
            opacityOnGrid: false,
            slideOn: 'next',
            imagePath: 'assets/images/'

        });

    });

</script>
<header id="head">
  <div class="container">


    <div class="fluid_container">
      <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap">
        <% all_slider.each do |s| %>
        <div  data-thumb="<%= image_url 'slides/thumbs/img1.jpg' %>" data-src="<%= image_url 'slides/img1.jpg' %>">
          <div class="camera_caption"><%=s.topcaption %></div>
        </div>
        <% end %>

      </div><!-- #camera_wrap_3 -->

    </div><!-- .fluid_container -->
  </div>
</header>